<nav class="bg-white border-gray-200 dark:bg-gray-900 border-b dark:border-gray-600">
  <section class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto p-4">
    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a 
          class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
          routerLinkActive="text-white md:dark:text-blue-500"
          routerLink="/advanced-templates"
        >
          Advanced templates
        </a>
      </li>
      <li>
        <a 
          class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
          routerLinkActive="text-white md:dark:text-blue-500"
          routerLink="/query-templates"
        >
          Query templates
        </a>
      </li>
      <li>
        <a 
          class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
          routerLinkActive="text-white md:dark:text-blue-500"
          routerLink="content-projection"
        >
          Content Projection
        </a>
      </li>
      <li>
        <a 
          class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
          routerLinkActive="text-white md:dark:text-blue-500"
          routerLink="view-encapsulation"
        >
          View Encapsulation
        </a>
      </li>
    </ul>
  </section>
</nav>

<section class="px-12 py-10">
  <router-outlet />
</section>
